<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "com.kh.jaManChw.board.dao.face.BoardDao">
  
  
	<select id="selectCurPage" resultType="int">
	SELECT count(boardno) cont FROM Board
	<if test="boardOptionno != 0">
	WHERE board_optionno = #{boardOptionno}
	</if>
	</select>


	<select id="selectAllFile" resultType="BoardFile" parameterType="Paging">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM(
				SELECT * FROM board_File
				ORDER BY BOARDNO DESC
			)B
		)
		WHERE rnum BETWEEN #{startno} AND #{endno}
	</select>
	
	<select id="selectAllDetail" parameterType="int" resultType="map">
		SELECT 
			b.boardno
			, b.board_optionno
			, b.userno
			, b.content
			, b.status
			, bf.stored_name 
			, bcCo.cnt CoCount
			, bcL.cnt likeCount
		FROM 
		    board b,  
		    (SELECT count(bc.boardno) cnt , b.boardno
		        FROM board_comment bc, board b 
		        WHERE bc.boardno(+)=b.boardno 
		        GROUP BY b.boardno
		    ) bcCo,
		    (SELECT count(bl.boardno) cnt , b.boardno
		        FROM board_like bl, board b 
		        WHERE bl.boardno(+)=b.boardno 
		        GROUP BY b.boardno
		    ) bcL,
		    board_file bf
		WHERE 1 =1
		    AND b.boardno = bcCo.boardno
		    AND b.boardno = bcL.boardno
		    AND bf.boardno = b.boardno
		    AND b.boardno = #{BOARDNO}
		ORDER BY b.boardno
	</select>
	
	<select id="showAllComment" resultType="BoardComment" parameterType="int">
		SELECT * FROM BOARD_COMMENT
		WHERE BOARDNO= #{BOARDNO}
		ORDER BY COMMENTNO DESC
	</select>
	
	<insert id="writeUserBoardComment" parameterType="BoardComment">
		INSERT INTO BOARD_COMMENT(commentno, boardno, userno, c_content, c_status)
		VALUES (boardComment_seq.nextval, #{boardno}, #{userno}, #{cContent}, 'active')
	</insert>
	
	<update id="updateUserBoardComment" parameterType="BoardComment">
		UPDATE BOARD_COMMENT SET C_CONTENT=#{cContent}
		WHERE COMMENTNO= #{commentno}
	</update>
	
	<delete id="eraseUserBoardComment" parameterType="BoardComment">
		DELETE FROM BOARD_COMMENT
		WHERE COMMENTNO=#{commentno}
	</delete>	
	
	<select id="selectCateAllFile" resultType="map" parameterType="map">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM(
				SELECT b.boardno, bf.stored_name, bo.board_optionno FROM board_File bf, board b, board_option bo
				WHERE 1 = 1
            		AND b.boardno = bf.boardno
            		AND b.board_optionno = bo.board_optionno
            		<if test="boardOptionno != 0">
            		AND bo.board_optionno = #{boardOptionno}
            		</if>
				ORDER BY BOARDNO DESC
			)B
		)
		WHERE rnum BETWEEN #{paging.startno} AND #{paging.endno}
		
	</select>
	
	<select id="selectCreateBoardno" resultType="int">
		SELECT board_seq.nextVal FROM dual
	</select>
	
	
	
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD(boardno, board_optionno, userno, content, status)
		VALUES ( #{boardno}, #{boardOptionno}, #{userno}, #{content}, 'active')
	</insert>

	<insert id="insertBoardFile" parameterType="BoardFile">
		INSERT INTO BOARD_File
		VALUES ( boardFile_seq.nextval, #{boardno}, #{originName}, #{storedName}, #{filesize})
	</insert>
	
	
	
	<select id="selectReco" parameterType="BoardLike" resultType="int">
		select count(*) from board_like 
		where userno = #{userno} and boardno = #{boardno}
	</select>
	<insert id="insertReco" parameterType="BoardLike">
		insert into board_like values(board_like_seq.nextval,#{boardno},#{userno})
	</insert>
	<delete id="deleteReco" parameterType="BoardLike">
		delete from board_like where boardno = #{boardno} and userno = #{userno}
	</delete>
	
	<select id="selectAllReco" parameterType="BoardLike" resultType="int">
		select count(*) from board_like where boardno = #{boardno} and userno = #{userno}
	</select>
	
	<select id="selectCntLikeAll" resultType="int" parameterType="int">
		SELECT count(*) FROM board_Like
		WHERE boardno = #{boardno}
	</select>

	<select id="selectBoardFile" parameterType="map" resultType="map">
		SELECT b.boardno
		, b.board_optionno
		, b.userno
		, b.content
		, b.status
		, bf.stored_name, u.user_nick
		FROM board b, board_file bf, users u
		WHERE 1 = 1
		AND b.boardno = bf.boardno
		AND b.userno = u.userno
		<if test="board.boardOptionno !=0">
		AND b.board_optionno = #{board.boardOptionno}
		</if>
		AND (upper(content) LIKE '%' || upper(#{searchData}) || '%'
		or upper(user_nick) LIKE '%' || upper(#{searchData}) || '%')
		ORDER BY b.boardno DESC
	</select>
	
	


	
	
	
	
	
	
	
	
	
	
  
  </mapper>