<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.jaManChw.login.dao.face.UsersDao">
  

	  <select id="selectCntByUserIdPw" resultType="int" parameterType="com.kh.jaManChw.dto.Users">
	  	SELECT count(*)
	  	FROM USERS
	  	WHERE upper(USER_ID) = upper(#{userId}) AND USER_PW=#{userPw}
	  </select>
	  
	  <select id="selectuserByUserId" resultType="com.kh.jaManChw.dto.Users" parameterType="string">
	  	SELECT * 
	  	FROM USERS 
	  	WHERE upper(USER_ID)=upper(#{userId})
	  </select>
	  
	  <select id="selectroleByuseridpw" resultType="String" parameterType="com.kh.jaManChw.dto.Users">
	  	SELECT ROLE
	  	FROM USERS
	  	WHERE upper(USER_ID)=upper(#{userId}) AND USER_PW=#{userPw}
	  </select>
	  
	  <select id="selectCntByUserId" resultType="int" parameterType="com.kh.jaManChw.dto.Users">
	  	SELECT count(*)
	  	FROM USERS
	  	WHERE upper(USER_ID)=upper(#{userId})
	  </select>
	  
	  <insert id="insertUsers" parameterType="com.kh.jaManChw.dto.Users">
	  	INSERT INTO USERS(USERNO,USER_ID,USER_PW,USER_NICK,USER_NAME,BIRTH,GENDER,EMAIL,PHONE,ADDR1,ADDR2,ADDR3,GRADE,WARN_COUNT,STATUS,ROLE,PLATFORM_OPTION,SOCIALNUM)
	  	VALUES (USERS_SEQ.NEXTVAL,#{userId},#{userPw},#{userId},#{userName},#{birth},#{gender},#{email},#{phone},#{addr1},#{addr2},#{addr3},DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{socialNum}) 
	  </insert>
	  
	  <select id="selectIdByUserNameEmail" resultType="com.kh.jaManChw.dto.Users" parameterType="com.kh.jaManChw.dto.Users">
	  	SELECT USERNO
	  	FROM USERS
	  	WHERE EMAIL=#{email} and USER_ID=#{userId}
	  </select>
	  
	  <select id="selectcheckCntByUserId" resultType="int" parameterType="com.kh.jaManChw.dto.Users">
	  	SELECT count(*)
	  	FROM USERS
	  	WHERE USER_ID=#{userId}
	  </select>
  
      <update id="updateByUserPw"  parameterType="com.kh.jaManChw.dto.Users">
		UPDATE USERS SET USER_PW=#{userPw}  
		WHERE USERNO=#{userno}
      </update>
      
      <select id="selectUserNameByUserId" resultType="com.kh.jaManChw.dto.Users" parameterType="com.kh.jaManChw.dto.Users">
	  	SELECT USER_Id
	  	FROM USERS
	  	WHERE USER_Name=#{userName} and EMAIL=#{email}
	  </select>
	  
	  <select id="selectStatusbyUserId" resultType="int" parameterType="com.kh.jaManChw.dto.Users">
	  	SELECT count(*)
	  	FROM USERS
	  	WHERE STATUS='block' and USER_Id=#{userId}	  
	  </select>
	  
	   <select id="selectLeaveUserByUserId" resultType="int" parameterType="com.kh.jaManChw.dto.Users">
	  	SELECT count(*)
	  	FROM USERS
	  	WHERE STATUS='leave' and USER_Id=#{userId}	  
	  </select>
	  
  	  <insert id="insertNaverUser" parameterType="Users">
  	  	INSERT INTO users(
  	  		userno,
			user_id,
			user_pw,
			user_name,
			user_nick,
			birth,
			gender,
			email,
			phone,
			addr1,
			addr2,
			addr3,
			platform_option
  	  	)
  	  	VALUES(
  	  		users_seq.nextval,
  	  		#{userId},
  	  		#{userPw},
  	  		#{userName},
  	  		#{userNick},
  	  		#{birth},
  	  		#{gender},
  	  		#{email},
  	  		#{phone},
  	  		#{addr1},
  	  		#{addr2},
  	  		#{addr3},
  	  		#{platFormOption}
  	  	)
  	  </insert>

  
  </mapper>