<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.jaManChw.login.dao.face.UsersDao">
  
  <select id="selectCntByUserIdPw" resultType="int" parameterType="com.kh.jaManChw.dto.Users">
  	SELECT count(*)
  	FROM USERS
  	WHERE USER_ID=#{userId} AND USER_PW=#{userPw}
  </select>
  
  
  </mapper>