<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.kh.jaManChw.meeting.dao.face.MeetingDao">


<select id="selectMeetingno" resultType = "int">
	
	select meeting_seq.nextval from dual

</select>


<insert id="insertMeeting" parameterType="com.kh.jaManChw.dto.Meeting">

	INSERT INTO MEETING VALUES( #{meetingno} , #{userno} , #{mname} , #{loc}, #{loc1}, #{loc2}, #{loc3} , #{meetingDate} , #{fee}, 
	#{introduce}, #{headCount}, 'active' )

</insert>


<insert id="insertPreference" parameterType="com.kh.jaManChw.dto.Meeting">

	INSERT INTO PREFERENCE VALUES( preference_seq.nextval , #{meetingno}, #{gender}, #{minage}, #{maxage} , #{smoke} , #{friend} )

</insert>

<select id="selectFriendListAll" resultType="com.kh.jaManChw.dto.Users" parameterType="int">

	select user_name, friend_userno
	from friend_list
    inner join users
    on friend_list.friend_userno = users.userno
	where friend_list.userno = #{userno}

</select>

<select id="selectUserNo" resultType="int" parameterType="int">
	
	SELECT userno from users 
	where userno = #{userno} 
	

</select> 


<select id="selectMeetinglistAll" resultType="com.kh.jaManChw.dto.Meeting">
	
	SELECT * FROM MEETING 
	order by meetingno desc

</select>

<select id="selectMeeting" resultType="com.kh.jaManChw.dto.Meeting" parameterType="com.kh.jaManChw.dto.Meeting">

	SELECT * FROM MEETING 
	WHERE meetingno = #{meetingno} 

</select>

<insert id="insertReportMeeting" parameterType="com.kh.jaManChw.dto.ReportMeeting">

	INSERT INTO report_meeting values(report_meeting_seq.nextval , #{meetingno} , #{userno} , #{rmTitle}, #{rmContent}, 'processed' , #{rmOption}, default )

</insert>


<select id="selectUserNickAll" resultType="com.kh.jaManChw.dto.Users" parameterType="com.kh.jaManChw.dto.Meeting">

	select *
    from users inner join applicant 
    on applicant.userno = users.userno 
    where applicant.meetingno = #{meetingno}

	
</select>


<select id="selectMeetingApplicant" resultType="com.kh.jaManChw.dto.Applicant" parameterType="com.kh.jaManChw.dto.Applicant">

	select * from Applicant 
	where userno = #{userno} and meetingno = #{meetingno}

</select>

<select id = "selectMeetingApplicantUser" resultType="com.kh.jaManChw.dto.Users" parameterType="com.kh.jaManChw.dto.Users">
	
	select * from users 
	where userno = #{userno}
	

</select>

<insert id = "insertJoinMeeting" parameterType="com.kh.jaManChw.dto.Applicant">
	
	insert into applicant values(#{meetingno}, #{userno}, #{applicantContent}, 'yes' , 1)
	
</insert>


</mapper>