<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.kh.jaManChw.meeting.dao.face.MeetingDao">


<select id="selectMeetingno" resultType = "int">
	
	select meeting_seq.nextval from dual

</select>


<insert id="insertMeeting" parameterType="com.kh.jaManChw.dto.Meeting">

	INSERT INTO MEETING VALUES( #{meetingno} , #{userno} , #{mname} , #{loc}, #{loc1}, #{loc2}, #{loc3} , #{meetingDate} 
	, #{fee}, #{introduce}, #{headCount},  'active', default )

</insert>


<insert id="insertPreference" parameterType="com.kh.jaManChw.dto.Preference">
	INSERT INTO PREFERENCE VALUES( preference_seq.nextval , #{meetingno}, #{gender}, #{minage}, #{maxage} , #{smoke} , #{friend} )
</insert>

<insert id="insertMeetingFriend" parameterType="com.kh.jaManChw.dto.Applicant">
	INSERT INTO APPLICANT VALUES( #{meetingno}, #{userno} , default , 'yes' , 1, 'no')
</insert>	

<insert id="insertMeetingUser" parameterType="com.kh.jaManChw.dto.Applicant">
	INSERT INTO APPLICANT VALUES( #{meetingno}, #{userno} , default, 'yes' , 1 , 'yes')
</insert>

<select id="selectFriendListAll" resultType="com.kh.jaManChw.dto.Users" parameterType="int">

	select user_name, friend_userno as userno
	from friend_list
    inner join users
    on friend_list.friend_userno = users.userno
	where friend_list.userno = #{userno}

</select>

<select id="selectUserNo" resultType="int" parameterType="int">
	
	SELECT userno from users 
	where userno = #{userno} 
	
</select> 



<select id="selectMeetinglistAll" resultType="com.kh.jaManChw.dto.Meeting">
	
	select * from meeting where status = 'active' and meeting_date &gt; sysdate
	
</select>

<update id="updatestatus" parameterType="com.kh.jaManChw.dto.Meeting">

update (select * from meeting  m join(select count(*)cnt,meetingno from applicant group by meetingno)a on m.meetingno = a.meetingno) set status = 'unactive' where head_count &lt;= cnt


</update>




<select id="selectMeeting" resultType="com.kh.jaManChw.dto.Meeting" parameterType="com.kh.jaManChw.dto.Meeting">

	SELECT * FROM MEETING 
	WHERE meetingno = #{meetingno} 

</select>

<update id="updatehit" parameterType="com.kh.jaManChw.dto.Meeting">
	
	UPDATE MEETING SET HIT = HIT + 1 WHERE meetingno = #{meetingno} 

</update>

<insert id="insertReportMeeting" parameterType="com.kh.jaManChw.dto.ReportMeeting">

	INSERT INTO report_meeting values(report_meeting_seq.nextval , #{meetingno} , #{userno} , #{rmTitle}, #{rmContent}, 'processed' , #{rmOption}, default )

</insert>


<select id="selectUserNickAll" resultType="com.kh.jaManChw.dto.Users" parameterType="com.kh.jaManChw.dto.Meeting">

	select *
    from users inner join applicant 
    on applicant.userno = users.userno 
    where applicant.meetingno = #{meetingno} and leader = 'no'

	
</select>

<select id="selectMeetingApplicantLeader" resultType = "com.kh.jaManChw.dto.Users" parameterType="com.kh.jaManChw.dto.Meeting">
	
	select *
    from users inner join applicant 
    on applicant.userno = users.userno 
    where applicant.meetingno = #{meetingno} and leader = 'yes'

</select>


<select id="selectMeetingApplicant" resultType="com.kh.jaManChw.dto.Applicant" parameterType="com.kh.jaManChw.dto.Applicant">

	select * from Applicant 
	where userno = #{userno} and meetingno = #{meetingno}

</select>

<select id = "selectMeetingApplicantUser" resultType="com.kh.jaManChw.dto.Users" parameterType="com.kh.jaManChw.dto.Users">
	
	select * from users 
	where userno = #{userno}
	

</select>

<insert id = "insertJoinMeeting" parameterType="com.kh.jaManChw.dto.Applicant">
	
	insert into applicant values(#{meetingno}, #{userno}, #{applicantContent}, 'nocheck' , 1, 'no')
	
</insert>
<select id="selectMeetingByDate" parameterType="String" resultType="com.kh.jaManChw.dto.Meeting">
	SELECT * FROM meeting where trunc(meeting_date) = to_date(#{result}, 'yyyy/mm/dd')
</select>

<select id="selectMeetingListCount" parameterType="com.kh.jaManChw.dto.Meeting" resultType="int">

select count(*) from meeting where meeting_date &gt; sysdate
	
</select>

<select id="selectMeetingListCountnow" parameterType="com.kh.jaManChw.dto.Meeting" resultType="int">

select count(*) from meeting where status = 'active' and meeting_date &gt; sysdate

</select>

<select id="selectMeetingListByMname" parameterType="String" resultType="com.kh.jaManChw.dto.Meeting">
	SELECT * FROM meeting where mname=#{search}
</select>

<select id="selectMeetingListByFilter" parameterType="Map" resultType="com.kh.jaManChw.dto.Meeting">

	select * from meeting where fee &lt; #{fee} and head_count &lt; #{headCount}
	
</select>

<select id="selectMeetingListByMap" parameterType="String" resultType="com.kh.jaManChw.dto.Meeting">

	select * from meeting where loc1 in(#{mapData} , #{mapData1})

</select>

<select id="selectDetailPreference" parameterType="com.kh.jaManChw.dto.Preference" resultType="com.kh.jaManChw.dto.Preference">

	select * from preference where meetingno = #{meetingno}

</select>



<select id="selectMyMeetingno" parameterType="com.kh.jaManChw.dto.Meeting" resultType="com.kh.jaManChw.dto.Meeting">
	select meetingno from meeting where userno = #{userno}
</select>
<select id="selectApllicantInfo" parameterType="java.util.List" resultType="map">
    select u.*,a.applicant_content,m.mname,m.meetingno from users u join applicant a
    on u.userno = a.userno
    join meeting m 
    on a.meetingno = m.meetingno
    where a.meetingno in
   	<foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
	#{item.meetingno}
	</foreach>
     and agree = 'nocheck'
</select>
<update id="updateApplicantAgree" parameterType="com.kh.jaManChw.dto.Applicant">
	update applicant set agree = #{agree}
	where userno = ${userno} and meetingno = #{meetingno}
</update>

<select id="selectCnt" parameterType="java.util.List" resultType="int">
    select count(*) cnt from users u join applicant a
    on u.userno = a.userno
    join meeting m 
    on a.meetingno = m.meetingno
    where a.meetingno in
   	<foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
	#{item.meetingno}
	</foreach>
     and agree = 'nocheck'

</select>
<select id="selectApplicantPaging" resultType="map">
    select * from(
    select rownum rnum,u.*,a.applicant_content,m.mname,m.meetingno from users u join applicant a
    on u.userno = a.userno
    join meeting m 
    on a.meetingno = m.meetingno
    where a.meetingno in
   	<foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
	#{item.meetingno}
	</foreach>
     and agree = 'nocheck'
     ) WHERE rnum BETWEEN #{paging.startno } AND #{paging.endno }
</select>

<select id="selectNotFull" parameterType="com.kh.jaManChw.dto.Applicant" resultType="int">
select count(*) from meeting  m 
join (select count(*) cnt, a.meetingno from applicant a 
where agree = 'yes'
group by a.meetingno) c 
on m.meetingno = c.meetingno
where m.head_count <![CDATA[<=]]> c.cnt and m.meetingno = #{meetingno}

</select>
<select id="selectCntAll" parameterType="com.kh.jaManChw.dto.Meeting" resultType="int">
select count(*) from applicant where userno = #{userno}

</select>
<select id="selectMyApplicant" resultType="map">
	select * from (
	select rownum rnum,a.*,m.mname from applicant a join meeting m
	on a.meetingno = m.meetingno where a.userno = #{applicant.userno}
	
	)WHERE leader = 'no' and 
	rnum BETWEEN #{paging.startno} AND #{paging.endno}

</select>
<select id="selectMyMeetingList"  resultType="map">
select  * from (
select rownum rnum, m.*,c.cnt from meeting m join (select count(*) cnt, a.meetingno from applicant a  where agree = 'yes' group by a.meetingno) c
on m.meetingno = c.meetingno) t
where t.userno = #{meeting.userno} and rnum BETWEEN #{paging.startno} AND #{paging.endno}
</select>

<select id="selectMyMeetingCntAll" parameterType="com.kh.jaManChw.dto.Meeting" resultType="int" >
	select count(*) from meeting where userno = #{userno}

</select>
</mapper>