<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace ="com.kh.jaManChw.store.dao.face.StoreDao">
	
	<select id="selectAllShoppingbasketList" parameterType="int" resultType="hashmap">
<!-- 	BEGIN -->
			select S.*, I.ITEM_TITLE,I.item_price, F.I_STORED_NAME FROM shopping_basket S, item I, item_file F where S.userno = ${userno} and S.itemno = I.itemno and I.itemno = F.itemno order by basketno desc
<!-- 	select S.*, I.ITEM_TITLE, O.OPTION_content, I.item_price, F.I_STORED_NAME, O.extra_charge FROM shopping_basket S, item I, item_file F, item_option O -->
<!-- 	where S.userno = ${userno} and S.itemno = I.itemno and I.itemno = F.itemno and O.itemno = I.itemno order by S.Basketno desc -->
<!-- 	END; -->
	</select>
	
	<select id="selectOptionByOptionno" resultType="hashmap">
	select * FROM item_option where ITEM_OPTIONNO = ${object}
	</select>
	
<!-- 	유저 번호 넣어야함	 -->
	<select id="updateSbUpdate"  resultType="map">
		UPDATE shopping_basket SET SB_ITEM_COUNT = ${sbItemCount} where basketno = ${basketno} and userno = ${userno}
	</select>

	<select id="selectAllItem" parameterType="map" resultType="map">
		SELECT * FROM (
			SELECT rownum rnum, I.* FROM(
				SELECT I.*, IF.I_STORED_NAME
				FROM ITEM I
				JOIN ITEM_FILE IF
				ON I.ITEMNO = IF.ITEMNO
				WHERE 1=1
					AND item_status != 'delete'
				<if test="type == 'goods' ">
					AND item_type = '칵테일 재료'
					OR item_type = '칵테일 도구'
					OR item_type = '칵테일 잔'
				</if>
				<if test='type.equals("materials")'>
					AND item_type = '위스키 물품'
					OR item_type = '와인 물품'
				</if>
				ORDER BY I.ITEMNO DESC
			)I
		)
		WHERE rnum BETWEEN #{paging.startno} AND #{paging.endno}
	</select>
	
	<select id="selectCurPage" resultType="int">
		SELECT count(*) cont FROM Item_File
	</select>
	
	<select id="selectCateSectrion" parameterType="map" resultType="map">
	SELECT * FROM (
			SELECT rownum rnum, I.* FROM(
				SELECT I.*, IF.I_STORED_NAME
				FROM ITEM I
				JOIN ITEM_FILE IF
				ON I.ITEMNO = IF.ITEMNO
				WHERE 1=1
					AND item_status != 'delete'
				<if test="type == 'goodsglass' ">
					AND item_type = '칵테일 재료'
				</if>
				<if test="type == 'goodsshaker' ">
					AND item_type = '칵테일 도구'
				</if>	
				<if test="type == 'goodsoffset' ">
					AND item_type = '칵테일 잔'
				</if>
				<if test='type.equals("materials")'>
					AND item_type = '재료쪽 추가해서 넣어주기'
					OR item_type = '와인 물품'
				</if>
				ORDER BY I.ITEMNO DESC
			)I
		)
		WHERE rnum BETWEEN #{paging.startno} AND #{paging.endno}
	
	</select>
	
	<select id="selectSerchItem" parameterType="map" resultType="map">
		SELECT * FROM (
			SELECT rownum rnum, I.* FROM(
				SELECT I.*, IF.I_STORED_NAME
				FROM ITEM I
				JOIN ITEM_FILE IF
				ON I.ITEMNO = IF.ITEMNO
				WHERE 1=1
                AND (upper(item_title) LIKE '%' || upper(#{searchData}) || '%'
                or upper(item_content) LIKE '%' || upper(#{searchData}) || '%')
                AND item_status != 'delete'
				ORDER BY I.ITEMNO DESC
			)I
		)
		WHERE rnum BETWEEN #{paging.startno} AND #{paging.endno}
	</select>
	
	<select id="selectItemOptionDetail" resultType="ItemOption" parameterType="int">
		SELECT *
		FROM item_option
		WHERE itemno = #{itemno}
	</select>
	
	<select id="selectItemFileDetail" resultType="ItemFile" parameterType="int">
		SELECT *
		FROM item_file
		WHERE itemno = #{itemno}
	</select>
	
	<select id="selectItemDetail" resultType="Item" parameterType="int">
		SELECT *
		FROM item
		WHERE itemno = #{itemno}
	</select>
	
	<insert id="insertItemQnA" parameterType="ItemQnAQ">
	INSERT INTO ITEM_QNA_Q(ITEM_QNANO, ITEMNO, USERNO, IQ_TITLE, IQ_CONTENT, IQ_OPTION, IQ_STATUS)
	VALUES(ITEM_QNA_Q_seq.NEXTVAL, #{itemno}, #{userno}, #{iqTitle}, #{iqContent}, '1', 'unprocessed')
	</insert>

	<insert id="insertShoppingBasket" parameterType="ShoppingBasket">
		INSERT INTO shopping_basket(
			basketno
			, itemno
			, userno
			, sb_item_count
			<if test="itemOptionno != 0">
			, item_optionno
			</if>
			)
		VALUES(
			shopping_basket_seq.nextval
			, #{itemno}
			, #{userno}
			, #{sbItemCount}
			<if test="itemOptionno != 0">
			, #{itemOptionno}
			</if>
			)
	</insert>
	
		
	<delete id="DeleteShoppingBasket" parameterType="map" >
	DELETE FROM 
		shopping_basket
	WHERE 
		USERNO = ${userno} 
		and BASKETNO = ${basketno}
	</delete>
	
	<select id="ItemOptionList" resultType="hashmap">
	select * FROM item_option
	</select>
	
	<select id="selectBaskteno" resultType="hashmap" parameterType="int">
	SELECT * 
		FROM (SELECT basketno FROM shopping_basket ORDER BY basketno DESC) 
	WHERE ROWNUM <![CDATA[ < ]]>= ${abc}
	</select>
	
	<select id="selectAllBuyList" parameterType="string" resultType="hashmap">
	select * FROM buy_list where userno = ${userno} order by buyno desc
	</select>
	
	<select id="selectAllBuyDetail"  parameterType="map" resultType="hashmap">
   	select 
		 O.orderno
		 , O.userno
		 , O.itemno
		 , O.item_name
		 , O.item_count
		 , O.item_option
		 , O.item_total_price
		 , O.order_status
		 , CAST(O.status_date as DATE) status_date
		 , O.add1
		 , O.add2
		 , O.add3
		 , O.name
		 , O.phone
		 , O.buyno
         , F.I_STORED_NAME 
	FROM 
		order_detail O, item_file F 
	where 1 = 1
		AND userno = ${userno}
		and buyno = ${buyno}
        and F.itemno = O.itemno
	</select>
	
	<select id="selectItemQnaQ" parameterType="ItemQnAQ" resultType="map">
		SELECT 
			a.userno
			, a.iq_title
			, a.iq_content
			, b.ia_content 
		FROM 
			ITEM_QNA_Q a 
		JOIN 
			ITEM_QNA_A b 
		ON 
			a.item_qnano = b.item_qnano
        WHERE 1 = 1
       		AND a.item_qnano= #{itemQnano}
       		AND b.ia_status ='undelete'
	</select>
	
</mapper>
